* {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", serif;
  font-style: normal;
  background-color: #f5f4f0;
}

#page {
  box-sizing: border-box;
  width: 1120px;
  padding: 24px;
  margin: 48px auto;
  padding-left: 24px;
}

#sobre h1 {
  padding-bottom: 40px;
  padding-top: 8px;
}

#sobre p {
  padding-top: 24px;
}

#lista {
  margin-left: 12px;
  padding-bottom: 16px;
}

#lista p {
  padding-top: 24px;
  padding-bottom: 10px;
}

#li-01 {
  padding: 20px;
}

#li-01 li { 
  margin-bottom: 12px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

.subtitle {
  font-style: italic;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1b1b1b;
  align-items: center;
  margin-left: 10px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #1b1b1b;
  align-items: center;
}

p {
  font-size: 16px;
  color: #e1624f;
  padding: 8px;
  align-items: center;
  margin-left: 2px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  margin-left: 48px;
  padding-top: 18px;
}

footer {
  text-align: center;
  margin: 28px;
}

a {
  text-decoration: none;
  color: black;
}

.p-diferente > p {
  color: #333333;
  font-weight: bold;
}

span > li {
  color: black;
  margin-left: 32px;

}

div > p {
  color: #333333;
  align-items: center;
  padding-top: 12px;
}
